@import "../global-var";

.owners {
    margin-top: 40px;

    h1 {
        font-weight: bold;
        margin-bottom: 10px;
    }

    .btn-default {
      background-color: $spring-brown;
      border-color: $spring-green;
      color: $spring-light-grey;

      &:hover {
        background-color: $spring-dark-brown;
        border-color: $spring-dark-brown;
        color: $spring-light-grey;
      }

      &:focus, &.focus {
        background-color: $spring-dark-brown;
        border-color: $spring-dark-green;
        color: $spring-light-grey;
      }
    }
}

.owners-table {
  & > thead > tr > th {
    background-color: $spring-brown;
    color: $spring-light-grey;
  }

  a {
    color: $spring-dark-green;
    cursor: auto;
  }
}
