@import "global-var";

body {
    background-color: $spring-light-grey;
}

body, h1, h2, h3, p, input {
  color: $spring-brown;
  font-family: "varela_roundregular", sans-serif;
  font-weight: 400;
  margin: 0;
}

h1 {
  font-family: "montserratregular", sans-serif;
  font-size: 18px;
  line-height: 30px;
}

h2 {
  font-family: "montserratregular", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 10px;
}

h3 {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 10px;
}

strong {
  font-family: "montserratregular", sans-serif;
  font-weight: 700;
}

@media screen and (min-width: 1200px) {
  .app {
    .container {
      width: 970px;
    }
  }
}
