$spring-green:      #6db33f;
$spring-dark-green: #5fa134;
$spring-brown:      #34302d;
$spring-dark-brown: #191715;
$spring-grey:       #838789;
$spring-light-grey: #f1f1f1;
$spring-white:      #ffffff;
