@import "../global-var";

.vets {
    margin-top: 40px;

    h1 {
        font-weight: bold;
        margin-bottom: 10px;
    }

    thead > tr > th {
        background-color: lighten($spring-brown, 3%);
        border-top: 1px solid $spring-brown;
        color: $spring-light-grey;
        line-height: 1.428571429;
        padding: 8px;
        vertical-align: top;
    }

    table {
        margin-bottom: 20px;
        max-width: 100%;
        width: 100%;

        td {
            vertical-align: middle;
        }

        tbody {
            tr {
                > td {
                    border-top: 1px solid $spring-brown;
                    line-height: 1.428571429;
                    padding: 8px;
                    vertical-align: top;
                }

                &:nth-child(odd) {
                    background-color: $spring-white;
                }
            }
        }
    }
}
